<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Page</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>

<header th:replace="fragments :: header"> </header>

<div class="homepage-content">

    <h1>Welcome!</h1>

    <p>Welcome to our website. Feel free to browse around and learn more
        <a th:href="@{/about}">about us</a>.
    </p>

    <div th:if="${posts}">
        <h2>Recent Posts</h2>
        <div th:each="post : ${posts}">
            <h3 th:text="${post.title}"></h3>

            <p>
                Posted on: <span th:text="${#temporals.format(post.createdDate, 'MMM dd, yyyy')}"></span>
            </p>

            <p th:utext="${#strings.abbreviate(post.content, 500)}">
                Post content
            </p>

            <a th:href="@{'/posts/' + ${post.id}}">Read more</a>
        </div>
    </div>

</div>

<footer th:replace="fragments :: footer"> </footer>

</body>
</html>